<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accepted Models</title>
    <style>
        .plot {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <a href="/">HOME PAGE</a><br><br>
    <h1>{{ status }} Models</h1>
    {% for plot_url, params in plots_params %}
        <div class="plot">
            <h2>Params: {{ params }}</h2>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Plot">
            <hr>
        </div>
    {% endfor %}
</body>
</html>
