<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Model Review Home</title>
</head>
<body>
    <a href="/">HOME PAGE</a><br><br>
    <h1>Model Review</h1>
    <div>
        <h2>Manual Check</h2>
        <a href="/manual_check/ARIMA">Check ARIMA Models</a><br>
        <a href="/manual_check/SARIMAX">Check SARIMAX Models</a><br>
        <a href="/manual_check/TiDE">Check TiDE Models</a><br>
    </div>
    <div>
        <h2>Display Models</h2>
        <a href="/display/LinearRegression/Accepted?limit=5">Display Linear Regression</a><br>
        <hr><br>
        <a href="/display/ARIMA/Accepted?limit=5">Display Accepted ARIMA Models</a><br>
        <a href="/display/ARIMA/Maybe?limit=5">Display Maybe ARIMA Models</a><br>
        <a href="/display/ARIMA/Rejected?limit=5">Display Rejected ARIMA Models</a><br>
        <hr><br>
        <a href="/display/SARIMAX/Accepted?limit=5">Display Accepted SARIMAX Models</a><br>
        <a href="/display/SARIMAX/Maybe?limit=5">Display Maybe SARIMAX Models</a><br>
        <a href="/display/SARIMAX/Rejected?limit=5">Display Rejected SARIMAX Models</a><br>
        <hr><br>
        <a href="/display/TiDE/Accepted?limit=5">Display Accepted TiDE Models</a><br>
        <a href="/display/TiDE/Maybe?limit=5">Display Maybe TiDE Models</a><br>
        <a href="/display/TiDE/Rejected?limit=5">Display Rejected TiDE Models</a><br>
    </div>
</body>
</html>
